<div class="progress-loader" [hidden]="!loading">

  <!-- <iframe
    src="https://lottie.host/embed/f6653421-7021-413f-8906-1a4c6cfa221b/6Zjblx7Ixe.json"
    style="width: 1080px; height: 810px; transform: rotate(90deg)"
  ></iframe> -->
  <!-- <img src="../../assets/images/Infin8_loader.gif"> -->

  <!-- <lottie-player *ngIf="loading" autoplay loop mode="normal"
    src="https://assets4.lottiefiles.com/packages/lf20_gspprrwz.json" style="width: 150px; height: 150px;">
  </lottie-player> -->

  <!-- <div class="progress-content">
		<div class="progress-text">
	
			<div class="lds-ellipsis">
				<div></div>
				<div></div>
				<div></div>
			
			</div>
		</div>

	</div> -->


  
<div class="infinity-loader"></div>


  <!-- <div class="infinity-loader">
    <div class="circle left"></div>
    <div class="circle right"></div>
  </div> -->
  
  
  
</div>