// .progress-loader {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.31);
//   z-index: 100 !important;
// }

// .progress-text {
//   position: absolute;
//   left: 43%;
//   top: 50%;
//   font-size: 30px;
//   text-transform: uppercase;
//   color: white;
// }

// .progress-loader {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     // background: #000;
//     z-index: 99999 !important;
//    // display: none;
//    opacity: 0.99;
//   }
  
//   .progress-text {
//     position: absolute;
//     left: 43%;
//     top: 50%;
//     font-size: 30px;
//     text-transform: uppercase;
//     color: white;
//   }
  
//   .lds-ellipsis {
//     display: inline-block;
//     position: relative;
//     width: 80px;
//     height: 80px;
//   }
  
//   .lds-ellipsis div {
//     position: absolute;
//     top: 33px;
//     width: 13px;
//     height: 13px;
//     border-radius: 50%;
//     background: #fff;
//     animation-timing-function: cubic-bezier(0, 1, 1, 0);
  
//   }
  
//   .lds-ellipsis div:nth-child(1) {
//     left: 8px;
//     animation: lds-ellipsis1 0.3s infinite;
//   }
  
//   .lds-ellipsis div:nth-child(2) {
//     left: 8px;
//     animation: lds-ellipsis2 0.3s infinite;
//   }
  
//   .lds-ellipsis div:nth-child(3) {
//     left: 32px;
//     animation: lds-ellipsis2 0.3s infinite;
//   }
  
//   // .lds-ellipsis div:nth-child(4) {
//   //   left: 56px;
//   //   animation: lds-ellipsis3 0.5s infinite;
//   // }
  
//   @keyframes lds-ellipsis1 {
//     0% {
//       transform: scale(0);
//     }
  
//     100% {
//       transform: scale(1);
//     }
//   }
  
//   @keyframes lds-ellipsis3 {
//     0% {
//       transform: scale(1);
//     }
  
//     100% {
//       transform: scale(0);
//     }
//   }
  
//   @keyframes lds-ellipsis2 {
//     0% {
//       transform: translate(0, 0);
//     }
  
//     100% {
//       transform: translate(24px, 0);
//     }
//   }





.infinity-loader {
  width: 60px;
  height: 60px;
  border: 10px solid #FFF;
  border-top: 10px solid rgb(13, 110, 253);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 100px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
