
body,
html {

    overflow: hidden;
    height: 100%;
    width: 100%;
    // background: black;
    color: #333;
    font-size: 18px;
    background: black;

    -webkit-user-select: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    height: 500px;
    text-align: center;
    width: 500px;

}

i {
    font-style: normal;
    font-size: 200px;
}
