/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Compliance Form CSS overrides starts here */
 
.cf-label-heading {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: rgb(33, 37, 41);
  }
   
  .cf-table table {
    table-layout: fixed;
  }
   
  .cf-label-bold {
    font-weight: 700;
  }
   
  .cf-label-gray {
    color: #808080;
  }
   
  .cf-label-border-top .cf-border-top .cf-table-border-top {
    border-top: 2px solid #000000;
  }
   
  [class*="cf_repeatable_block_"] button[aria-label="Click on Delete"] {
    display: none;
  }
   
  [class*="cf_repeatable_block_"] button[aria-label="Click on Add"] {
    display: none;
  }